<div class="col-xs-12">
	<form class="form-inline" ng-submit="vm.sendFile(vm.file)" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<input type="submit" value="Upload" class="btn btn-success">
		</div>
		<div class="form-group">
			<input type="file" file-model="vm.file" ><br>
		</div>
	</form>
</div>



	<div class="table-responsive col-xs-12">
				<table class="table table-bordered table-hover table-striped">
						<thead>
								<tr>
										<th>Titolo</th>
										<th>Descrizione</th>
										<th>Azioni</th>
								</tr>
						</thead>
						<tbody>
								<tr ng-repeat="file in vm.record.allegati | orderBy: 'titolo'">
									<!-- edit columns -->
									<td ng-if="file.edit">
										<input ng-model="file.titolo" class="form-control">
									</td>
									<td ng-if="file.edit">
										<input ng-model="file.descrizione" class="form-control">
									</td>
									<!-- view columns -->
									<td ng-if="!file.edit">{{ file.titolo }}</td>
									<td ng-if="!file.edit">{{ file.descrizione }}</td>
									<td>
										<div ng-if="!file.edit">
											<button ng-click="vm.allegatoPreview(file)" class="btn btn-default btn-sm">
												<i class="fa fa-print"></i></button> 
											<button ng-click="vm.allegatoEdit(file)" class="btn btn-primary btn-sm">
												<i class="fa fa-pencil"></i></button> 
											<button ng-click="vm.allegatoDelete(file)" class="btn btn-danger btn-sm">
												<i class="fa fa-times"></i></button> 
										</div>
										<div ng-if="file.edit">
											<button ng-click="vm.allegatoSave(file)" class="btn btn-success btn-sm">
												<i class="fa fa-floppy-o"></i> </button> 
											<button ng-click="vm.allegatoCancel(file)" class="btn btn-default btn-sm">
												<i class="fa fa-undo"></i> </button> 
										</div>
									</td>
								</tr>
						</tbody>
				</table>
	</div>
