<div class="navbar-default sidebar" role="navigation" ng-controller="sidebarCtrl as vm">
	<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
					<!-- SEARCH
					<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control" placeholder="Search...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
					</li>
					-->
					<li>
							<a href="#/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
					</li>
					<li>
							<a ng-click="vm.subOrdine = !vm.subOrdine"><i class="fa fa-university fa-fw"></i> Ordine degli Ingegneri<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level" collapse="!vm.subOrdine">
									<li>
											<a href="#/ordine/consiglio/territoriale"> Consiglio Territoriale</a>
									</li>
									<li>
											<a href="#/ordine/consiglio/disciplina"> Consiglio di Disciplina</a>
									</li>
									<li>
											<a href="#/ordine/commissioni"> Commissioni</a>
									</li>
							</ul>
							<!-- /.nav-second-level -->
					</li>
					<li>
							<a href="#/albo"><i class="fa fa-group fa-fw"></i> Albo Iscritti</a>
					</li>
					<li>
							<a href="#/news"><i class="fa fa-database fa-fw"></i> News</a>
					</li>
					<li>
							<a href="#/pagine"><i class="fa fa-file-o fa-fw"></i> Pagine web</a>
					</li>			
					<li>
							<a href="#/trasparenza"><i class="fa fa-shield fa-fw"></i> Trasparenza</a>
					</li>	
					<li>
							<a ng-click="vm.subRepository = !vm.subRepository"><i class="fa fa-upload fa-fw"></i> Repository<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level" collapse="!vm.subRepository">
								<li>
									<a href="#/fatture"> Fatture</a>
								</li>
								<li>
									<a href="#/repository"> Files</a>
								</li>
							</ul>								
					</li>				
				
					<li>
							<a ng-click="vm.subParametri = !vm.subParametri"><i class="fa fa-wrench fa-fw"></i> Parametri<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level" collapse="!vm.subParametri">
									<li>
											<a href="#/params/abilitazione"> Abilitazioni</a>
									</li>
									<li>
											<a href="#/params/categoriaEvento"> Categorie Evento Consiglio</a>
									</li>
									<li>
											<a href="#/params/categoriaNews"> Categorie News</a>
									</li>
									<li>
											<a href="#/params/categoriaPagina"> Categorie Pagine Web</a>
									</li>
									<li>
											<a href="#/params/laurea"> Lauree</a>
									</li>
									<li>
											<a href="#/params/ruoloCommissione"> Ruoli Commissione</a>
									</li>
									<li>
											<a href="#/params/ruoloConsiglio"> Ruoli Consiglio</a>
									</li>
							</ul>
					</li>								

			</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>