<div class="panel panel-default">
		<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i><b>{{ vm.record._id }}</b> {{ vm.record.titolo }}
				<div class="pull-right">
						<div class="btn-group">
							<button class="btn btn-default btn-xs" ng-click="vm.switchView('elenco')">elenco</button>
						</div>
				</div>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
				<div class="row">
						<tabset>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Scheda
								</tab-heading>
								<form role="form" class="col-xs-12">
									<div class="clearfix">
										<div class="form-group col-md-12">
												<label>Codice</label>
												<input ng-model="vm.record._id" class="form-control">
												<p class="help-block">utilizzare codice evento generato dal portale www.formazionecni.it</p>
										</div>
										<div class="form-group col-md-12">
												<label>Titolo</label>
												<input ng-model="vm.record.titolo" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label>Data</label>
										<input ng-model="vm.record.data" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<label>Posti</label>
										<input type="number" ng-model="vm.record.posti" class="form-control">
										<p class="help-block">inserire il numero max di posti disponibili</p>
									</div>

									<div class="form-group">
											<label>Descrizione</label>
											<textarea ng-model="vm.record.descrizione" class="form-control" rows="3"></textarea>
									</div>									
									<div class="form-group">
											<label>Contenuto</label>
											<div text-angular ng-model="vm.record.contenuto"></div>
									</div>											
									<div class="form-group col-xs-12">
										<div class="form-group">
												<label class="checkbox-inline">
														<input ng-model="vm.record.published" type="checkbox"> Pubblicata
												</label>
										</div>
									</div>
									<div class="form-group">
											<label>Note</label>
											<textarea ng-model="vm.record.note" class="form-control" rows="3"></textarea>
									</div>									
									
									<div class="input-group">
										<button ng-click="vm.save()" type="submit" class="btn btn-default">Salva</button>
									</div>
								</form>

							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-users"></i> Elenco Iscritti <span class="badge" ng-if="vm.record.iscritti.length>0">{{ vm.record.iscritti.length }}</span>
								</tab-heading>
								<hr class="clearfix" />

									<div class="container">
										<form role="form" class="form-inline">
											<div class="form-group">
												<label>Ricerca</label>
												<input ng-model="vm.filter" class="form-control">
											</div>
										</form>
									</div>
								<hr class="clearfix" />
								<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>#</th>
																	<th>Nominativo</th>
																	<th>Cod Fisc</th>
																	<th>Albo</th>
																	<th>tel/cell</th>
																	<th>mail</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="ing in vm.record.iscritti | filter: vm.filter | orderBy: 'prot'">
																<td>{{ ing.prot }}</td>
																<td>{{ ing.cognome }} {{ ing.nome }}</td>
																<td>{{ ing.codiceFiscale }}</td>
																<td>{{ ing.numero }}/{{ ing.sezione }} {{ ing.ordine }}</td>
																<td>{{ ing.telefono }}</td>
																<td>{{ ing.mail }}</td>
															</tr>
													</tbody>
											</table>

								</div>
							</tab>
						<tab>
								<tab-heading>
									<i class="fa fa-users"></i> Lista per Replica <span class="badge" ng-if="vm.record.replica.length>0">{{ vm.record.replica.length }}</span>
								</tab-heading>
								<hr class="clearfix" />

									<div class="container">
										<form role="form" class="form-inline">
											<div class="form-group">
												<label>Ricerca</label>
												<input ng-model="vm.filterReplica" class="form-control">
											</div>
										</form>
									</div>
								<hr class="clearfix" />
								<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>#</th>
																	<th>Nominativo</th>
																	<th>Cod Fisc</th>
																	<th>Albo</th>
																	<th>tel/cell</th>
																	<th>mail</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="ing in vm.record.replica | filter: vm.filterReplica | orderBy: 'prot'">
																<td>{{ ing.prot }}</td>
																<td>{{ ing.cognome }} {{ ing.nome }}</td>
																<td>{{ ing.codiceFiscale }}</td>
																<td>{{ ing.numero }}/{{ ing.sezione }} {{ ing.ordine }}</td>
																<td>{{ ing.telefono }}</td>
																<td>{{ ing.mail }}</td>
															</tr>
													</tbody>
											</table>

								</div>
							</tab>							
						</tabset>

				</div>
				<!-- /.row -->
		</div>
		<!-- /.panel-body -->
</div>