<div class="panel panel-default">
		<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Elenco
				<div class="pull-right">
						<div class="btn-group">
								<button class="btn btn-default btn-xs" ng-click="vm.new()">Nuovo Iscritto</button>
								<button class="btn btn-default btn-xs" ng-click="vm.refresh()">Aggiorna</button>
						</div>
				</div>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
				<div class="row">
					<div class="table-responsive col-xs-12">
								<table class="table table-bordered table-hover table-striped">
										<thead>
												<tr>
														<th>Nominativo</th>
														<th>codiceFiscale</th>
														<th>Albo</th>
														<th>Stato</th>
														<th>Azioni</th>
												</tr>
										</thead>
										<tbody>
												<tr ng-repeat="ing in vm.elenco">
													<td>{{ ing.cognome }} {{ ing.nome }}</td>
													<td>{{ ing.codiceFiscale }}</td>
													<td>{{ ing.albo.numero }}/{{ ing.albo.sezione}}</td>
													<td><label class="label label-default">{{ ing.albo.iscrizione.stato }}</label></td>
													<td>
														<button ng-click="vm.select(ing)" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></button> 
														<button ng-click="vm.delete(ing)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> 
													</td>
												</tr>
										</tbody>
								</table>
					</div>
						<!-- /.table-responsive -->
				</div>
				<!-- /.row -->
		</div>
		<!-- /.panel-body -->
</div>
<!-- /.panel -->