<div class="panel panel-default">
		<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> {{ vm.getTitolo(vm.record.albo.sezione) }} <b>{{ vm.record.cognome }} {{ vm.record.nome }}</b>
				<div class="pull-right">
						<div class="btn-group">
							<button class="btn btn-default btn-xs" ng-click="vm.switchView('elenco')">elenco</button>
						</div>
				</div>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
				<div class="row">
						<tabset>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Scheda
								</tab-heading>
								<form role="form" class="col-xs-12">
									<div>
										<div class="form-group col-lg-6">
												<label>Cognome</label>
												<input ng-model="vm.record.cognome" class="form-control">
										</div>
										<div class="form-group col-lg-6">
												<label>Nome</label>
												<input ng-model="vm.record.nome" class="form-control">
										</div>
										<div class="form-group col-lg-6">
												<label>Codice Fiscale</label>
												<input ng-model="vm.record.codiceFiscale" class="form-control">
										</div>
									</div>
									<div class="form-group col-sm-3">
											<label>Sezione</label>
											<select ng-model="vm.record.albo.sezione" class="form-control">
													<option>A</option>
													<option>B</option>
											</select>											
									</div>
									<div class="form-group col-sm-3">
											<label>Numero</label>
											<input ng-model="vm.record.albo.numero" class="form-control" type="number">
									</div>
									<div class="form-group col-sm-6">
											<label>Stato di iscrizione</label>
											<select ng-model="vm.record.iscrizione.stato" class="form-control">
													<option>in attesa di delibera</option>
													<option>iscritto</option>
													<option>sospeso</option>
													<option>trasferito</option>
													<option>cancellato</option>
											</select>											
									</div>									
									<div class="form-group col-xs-12">
										<div class="form-group">
												<label>Settori</label>
												<label class="checkbox-inline">
														<input ng-click="vm.setSettori()" ng-model="vm.checkSettori.A" type="checkbox">A - Civile e Ambientale
												</label>
												<label class="checkbox-inline">
														<input ng-click="vm.setSettori()" ng-model="vm.checkSettori.B" type="checkbox">B - Industria
												</label>
												<label class="checkbox-inline">
														<input ng-click="vm.setSettori()" ng-model="vm.checkSettori.C" type="checkbox">C - dell'Informazione
												</label>
										</div>
									</div>			
									<div class="clearfix">
										<div class="form-group col-sm-6">
												<label>Data iscrizione</label>
												<div class="input-group">
													<input type="date" class="form-control" datepicker-popup ng-model="vm.record.albo.iscrizione.dataStr" is-open="vm.opened['data']" close-text="Close" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="vm.open('data',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
										</div>
										<div class="form-group col-sm-6">
												<label>Data prima iscrizione</label>
												<div class="input-group">
													<input type="date" class="form-control" datepicker-popup ng-model="vm.record.albo.iscrizione.primaDataStr" is-open="vm.opened['primaData']" close-text="Close" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="vm.open('primaData',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
												<p class="help-block">Inserire data di prima iscrizione all'Albo degli Ingegneri anche di altra Provincia per calcolo degli anni di iscrizione.</p>
										</div>
									</div>
									<hr class="clearfix divider" />
									<div class="form-group col-sm-6">
											<label>Telefono</label>
											<input ng-model="vm.record.recapito.telefono" class="form-control">
									</div>								
									<div class="form-group col-sm-6">
											<label>Cellulare</label>
											<input ng-model="vm.record.recapito.cellulare" class="form-control">
									</div>								
									<div class="form-group col-sm-6">
											<label>Mail</label>
											<input ng-model="vm.record.recapito.mail" class="form-control" type="mail">
									</div>								
									<div class="form-group col-sm-6">
											<label>PEC</label>
											<input ng-model="vm.record.recapito.pec" class="form-control" type="mail">
									</div>								
									<hr class="clearfix divider" />
									<div class="form-group">
											<label>Note</label>
											<textarea ng-model="vm.record.note" class="form-control" rows="3"></textarea>
									</div>
									
									<div class="input-group">
										<button ng-click="vm.save()" type="submit" class="btn btn-default">Salva</button>
									</div>
								</form>

							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Nascita
								</tab-heading>	
								<form role="form" class="col-xs-12">
									<div class="form-group col-md-4">
											<label>Data</label>
											<div class="input-group">
												<input type="date" class="form-control" datepicker-popup ng-model="vm.record.nascita.dataStr" is-open="vm.opened['nascita']" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="vm.open('nascita',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>										
									</div>
									<div class="form-group col-md-8">
											<label>Comune</label>
											<input ng-model="vm.record.nascita.comune" class="form-control">
											<p class="help-block">In caso di nascita in paese estero inserire solo Nazione</p>
									</div>
									<div class="form-group col-md-6">
											<label>Provincia</label>
											<input ng-model="vm.record.nascita.provincia" class="form-control">
									</div>
									<div class="form-group col-md-6">
											<label>Nazione</label>
											<input ng-model="vm.record.nascita.nazione" class="form-control">
									</div>
									<div class="form-group clearfix">
										<button ng-click="vm.save()" type="submit" class="btn btn-default">Salva</button>
									</div>
									
								</form>
							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Residenza / Ufficio
								</tab-heading>
								<form role="form" class="col-xs-12">
									<h4 class="primary">Dati di Residenza</h4>
									<div class="form-group">
											<label>Via</label>
											<input ng-model="vm.record.residenza.via" class="form-control">
									</div>
									<div class="form-group col-md-9">
											<label>Comune</label>
											<input ng-model="vm.record.residenza.comune" class="form-control">							
									</div>
									<div class="form-group col-md-3">
											<label>Cap</label>
											<input ng-model="vm.record.residenza.cap" class="form-control">
									</div>
									<div class="form-group">
											<label>Provincia</label>
											<input ng-model="vm.record.residenza.provincia" class="form-control">
									</div>
									<h4 class="primary">Dati Ufficio</h4>
									<div class="form-group">
											<label>Via</label>
											<input ng-model="vm.record.ufficio.via" class="form-control">
									</div>
									<div class="form-group col-md-9">
											<label>Comune</label>
											<input ng-model="vm.record.ufficio.comune" class="form-control">							
									</div>
									<div class="form-group col-md-3">
											<label>Cap</label>
											<input ng-model="vm.record.ufficio.cap" class="form-control">
									</div>
									<div class="form-group col-md-6">
											<label>Provincia</label>
											<input ng-model="vm.record.ufficio.provincia" class="form-control">
									</div>
									<div class="form-group clearfix">
										<button ng-click="vm.save()" type="submit" class="btn btn-default">Salva</button>
									</div>
									
								</form>								
								
							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Lauree <span class="badge" ng-if="vm.record.componenti.length>0">{{ vm.record.lauree.length }}</span>
								</tab-heading>			
									<form class="col-sx-12">
										<div class="form-group col-md-6">
											<label>Laurea</label>
											<select ng-model="vm.laurea.titolo" class="form-control">
												<option ng-repeat="laurea in vm.lauree | orderBy: 'nome'">{{ laurea.nome }}</option>
											</select>	
										</div>
										<div class="form-group col-md-6">
											<label>data</label>
											<div class="input-group">
												<input type="date" class="form-control" datepicker-popup ng-model="vm.laurea.dataStr" is-open="vm.opened['laurea']" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="vm.open('laurea',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>											
										</div>	
										<div class="form-group col-md-6">
											<label>Luogo</label>
											<input ng-model="vm.laurea.luogo" class="form-control" placeholder="Università di">
										</div>	
										<div class="form-group col-md-6">
											<label>Voto</label>
											<input ng-model="vm.laurea.voto" class="form-control">
										</div>	

										<button ng-click="vm.esameStatoAdd()" class="btn btn-default">Aggiungi</button>											</form>								
										<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>Laurea</th>
																	<th>Data</th>
																	<th>Luogo</th>
																	<th>Voto</th>
																	<th>Azioni</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="laurea in vm.record.lauree | orderBy: 'data'">
																<td>{{ laurea.codice }} {{ laurea.titolo }}</td>
																<td>{{ laurea.data | date: 'dd-MM-yyyy' }}</td>
																<td>{{ laurea.luogo }}</td>
																<td>{{ laurea.voto }}</td>
																<td>
																	<button ng-click="vm.laureaDelete(laurea)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> 
																</td>
															</tr>
													</tbody>
											</table>
										</div>
											<!-- /.table-responsive -->
							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Esami di Stato <span class="badge" ng-if="vm.record.componenti.length>0">{{ vm.record.esamiStato.length }}</span>
								</tab-heading>	
									<form class="col-sx-12">
										<div class="form-group col-md-6">
											<label>Anno</label>
											<input type="number" ng-model="vm.esameStato.anno" class="form-control">
										</div>
										<div class="form-group col-md-6">
											<label>Luogo</label>
											<input ng-model="vm.esameStato.luogo" class="form-control">
										</div>	
										<div class="form-group col-md-6">
											<label>Abilitazione</label>
											<input ng-model="vm.esameStato.abilitazione" class="form-control">
										</div>	
										<div class="form-group col-md-6">
											<label>Note</label>
											<input ng-model="vm.esameStato.note" class="form-control">
										</div>	

										<button ng-click="vm.esameStatoAdd()" class="btn btn-default">Aggiungi</button>											</form>
									<hr class="divider" />
										<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>Anno</th>
																	<th>Luogo</th>
																	<th>Abilitazione</th>
																	<th>Note</th>
																	<th>Azioni</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="esame in vm.record.esamiStato | orderBy: 'Anno'">
																<td>{{ esame.anno }}</td>
																<td>{{ esame.luogo }}</td>
																<td>{{ esame.abilitaziione }}</td>
																<td>{{ esame.note }}</td>
																<td>
																	<button ng-click="vm.laureaDelete(laurea)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> 
																</td>
															</tr>
													</tbody>
											</table>
										</div>
											<!-- /.table-responsive -->
							</tab>
						</tabset>

				</div>
				<!-- /.row -->
		</div>
		<!-- /.panel-body -->
</div>