<div class="panel panel-default">
		<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Commissione <b>{{ vm.record.nome }}</b>
				<div class="pull-right">
						<div class="btn-group">
							<button class="btn btn-default btn-xs" ng-click="vm.switchView('elenco')">elenco</button>
						</div>
				</div>			
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
				<div class="row">
						<tabset>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Scheda
								</tab-heading>
								<form name="recordForm" role="form" class="col-xs-12" novalidate>
									<div class="form-group">
											<label class="control-label">Nome</label>
											<input name="inizio" ng-model="vm.record.nome" class="form-control" type="text" required>
									</div>
									<div class="form-group">
											<label class="checkbox-inline">
													<input ng-model="vm.record.attivo" type="checkbox"> attiva
											</label>
									</div>									
									<div class="form-group">
											<label>Descrizione</label>
											<textarea ng-model="vm.record.descrizione" class="form-control" rows="4"></textarea>
									</div>
									<div class="form-group">
											<label>Note</label>
											<textarea ng-model="vm.record.note" class="form-control" rows="3"></textarea>
										<p class="help-block">Campo note visibile solo internamente su back-office.</p>
									</div>
									<div class="form-group col-xs-12">
											<label class="checkbox-inline">
													<input ng-model="vm.record.published" type="checkbox"> Pubblico
											</label>
									</div>
									<button ng-click="vm.save()" type="submit" class="btn btn-success">Salva</button>
								</form>

							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-users"></i> Componenti <span class="badge" ng-if="vm.componenti.length>0">{{ vm.componenti.length }}</span>
								</tab-heading>
								<div class="col-xs-12">
									<h4 class="title text-primary">Cariche istituzionali</h4>
								</div>
								<div class="col-xs-12">
									<div class="form-group col-md-12">
										<label>Referente</label>
										<select ng-model="vm.record.referente" ng-options="c._id as c.nominativo for c in vm.componenti | orderBy: 'cognome' " class="form-control">
											<option value="">-- seleziona --</option>
										</select>
										<p class="help-block">Il Referente deve essere un componente del Consiglio.</p>
									</div>
									<div class="form-group col-md-6">
										<label>Coordinatore</label>
										<select ng-model="vm.record.coordinatore" ng-options="c._id as c.nominativo for c in vm.componenti | orderBy: 'cognome' " class="form-control">
											<option value="">-- seleziona --</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<label>Segretario</label>
										<select ng-model="vm.record.segretario" ng-options="c._id as c.nominativo for c in vm.componenti | orderBy: 'cognome' " class="form-control">
											<option value="">-- seleziona --</option>
										</select>
									</div>
									<div class="form-group col-md-12">
										<button ng-click="vm.ruoliUpdate()" type="submit" class="btn btn-success">Salva</button>
									</div>
								</div>
								<hr class="divider clearfix" />
								<div class="col-xs-12">
									<h4 class="title text-primary">Componenti</h4>
								</div>
								<div class="col-xs-12">
									<div class="panel panel-default" >
										<form class="panel-body">
										<div class="form-group">
											<div class="input-group">
												<input ng-model="vm.newComponente.id" class="form-control" placeholder="A0000">
												<span class="input-group-btn">
											<button ng-click="vm.componenteCheck()" class="btn btn-default">Check</button>
											<button ng-click="vm.componenteAdd()" class="btn btn-success">Aggiungi</button>
												</span>
											</div><!-- /input-group -->											
											<p class="help-block">Inserire sezione e numero di iscrizione (es. A1602).</p>
										</div>
										<div class="form-group">
											<label class="control-label">Nominativo</label>
											<input name="inizio" ng-model="vm.newComponente.nominativo" class="form-control" type="text" disabled>
										</div>
									</form>
									</div>
								</div>
										<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>Componente</th>
																	<th>Albo</th>
																	<th>Azioni</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="comp in vm.componenti | orderBy: 'cognome'">
																<td>{{ comp.cognome }} {{ comp.nome }}</td>
																<td>{{ comp._id }}</td>
																<td>
																	<button ng-click="vm.componenteDelete(comp)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> 
																</td>
															</tr>
													</tbody>
											</table>

										</div>
											<!-- /.table-responsive -->
							</tab>
						</tabset>

				</div>
				<!-- /.row -->
		</div>
		<!-- /.panel-body -->
</div>