<div class="panel panel-default">
		<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i>{{ vm.record.data | date: 'dd-MM-yyyy' }} <b>{{ vm.record.titolo }}</b>
				<div class="pull-right">
						<div class="btn-group">
							<button class="btn btn-default btn-xs" ng-click="vm.switchView('elenco')">elenco</button>
						</div>
				</div>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
				<div class="row">
						<tabset>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Scheda
								</tab-heading>
								<form role="form" class="col-xs-12">
									<div class="form-group col-sm-4">
											<label>Data</label>
											<div class="input-group">
												<input type="date" class="form-control" datepicker-popup ng-model="vm.record.dataStr" is-open="vm.opened['data']" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="vm.open('data',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>
									</div>
									<div class="form-group col-sm-8">
											<label>Autore</label>
											<input ng-model="vm.record.autore" class="form-control">
									</div>
									<div class="form-group col-xs-12">
											<label>Titolo</label>
											<input ng-model="vm.record.titolo" class="form-control">
									</div>
									<hr class="clearfix divider" />
									<div class="form-group">
											<label>Descrizione</label>
											<textarea ng-model="vm.record.descrizione" class="form-control" rows="3"></textarea>
									</div>									
									<div class="form-group">
											<label>Link</label>
											<input ng-model="vm.record.link" class="form-control">
										<p class="help-block">inserire link a pagina web senza http://</p>
									</div>
									<div class="form-group">
											<label>Contenuto</label>
											<div text-angular ng-model="vm.record.contenuto"></div>
									</div>											
									<div class="form-group">
											<label>Note</label>
											<textarea ng-model="vm.record.note" class="form-control" rows="3"></textarea>
									</div>									
									
									<div class="input-group">
										<button ng-click="vm.save()" type="submit" class="btn btn-default">Salva</button>
									</div>
								</form>

							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Allegati
								</tab-heading>
							</tab>
						</tabset>

				</div>
				<!-- /.row -->
		</div>
		<!-- /.panel-body -->
</div>