<ng-include src="'/app/common/pageHeader.html'"></ng-include>


				<!-- STATUS: ERROR -->
				<div class="row" data-ng-if="vm.status=='error'">
					<div class="alert alert-danger">
						<span>ERRORE CAMBIO PASSWORD:</span>
						{{ vm.errorMessage }}
					</div>
				</div>

				<!-- STATUS: SUCCESS -->
				<div class="row" data-ng-if="vm.status=='success'">
						<div class="alert alert-success">
								<i class="fa fa-check-square-o fa-2x"></i><b> Cambio Password effettuato con successo!</b>
						</div>
				</div>

				<div class="row">
					<div class="col-md-12">
							<label for="txtPwdOld">Vecchia Password</label>
							<div class="input-group col-sm-12">
								<input id="txtPwdOld" type="password" class="form-control" data-ng-model="vm.pwdOld" />
							</div>
							<div class="separator bottom"></div>

							<label for="txtPwd">Nuova Password</label>
							<div class="input-group col-sm-12">
								<input id="txtPwd" type="password" class="form-control" data-ng-model="vm.pwd" />
							</div>
							<div class="separator bottom"></div>

							<label for="txtPwdConfirm">Conferma Password</label>
							<div class="input-group col-sm-12">
									<input id="txtPwdConfirm" type="password" class="form-control" data-ng-model="vm.pwdConfirm" />
							</div>
							<div class="separator bottom"></div>

					</div> <!-- // Column END -->
				</div> <!-- // Row END -->


				<div class="row">
						<div class="col-md-12">
								<!-- Form actions -->
								<div class="form-actions" style="margin: 0;">
										<button type="submit" data-ng-click="vm.changePassword()" class="btn btn-primary"><i class="fa fa-fw fa-check-square-o"></i> Salva</button>
								</div>
								<!-- // Form actions END -->
						</div>
				</div>