<div class="panel panel-default">
		<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> {{ vm.getTitolo(vm.record.albo.sezione) }} <b>{{ vm.record.cognome }} {{ vm.record.nome }}</b>
				<div class="pull-right">
						<div class="btn-group">
							<button class="btn btn-default btn-xs" ng-click="vm.switchView('elenco')">elenco</button>
						</div>
				</div>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
				<div class="row">
						<tabset>
							<tab>
								<tab-heading>
									<i class="fa fa-file-o"></i> Scheda
								</tab-heading>
								<form role="form" class="col-xs-12">
									<div class="clearfix">
										<div class="form-group col-sm-4">
											<label>Numero</label>
											<input ng-model="vm.record._id" class="form-control" placeholder="A0000">
											<p class="help-block">Inserire sezione e numero di iscrizione (es. A1602).</p>
										</div>
										<div class="form-group col-sm-8">
											<div class="form-group">
												<label>Settori</label>
												<div class="input-group">
														<label class="checkbox-inline">
																<input ng-click="vm.setSettori()" ng-model="vm.checkSettori.A" type="checkbox">A - Civile e Ambientale
														</label>
														<label class="checkbox-inline">
																<input ng-click="vm.setSettori()" ng-model="vm.checkSettori.B" type="checkbox">B - Industria
														</label>
														<label class="checkbox-inline">
																<input ng-click="vm.setSettori()" ng-model="vm.checkSettori.C" type="checkbox">C - dell'Informazione
														</label>
													</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12">
										<h4 class="title text-primary">Dati Anagrafici</h4>
									</div>	
									<div class="form-group col-lg-6">
											<label>Cognome</label>
											<input ng-model="vm.record.cognome" class="form-control">
									</div>
									<div class="form-group col-lg-6">
											<label>Nome</label>
											<input ng-model="vm.record.nome" class="form-control">
									</div>
									<div class="form-group col-lg-6">
											<label>Codice Fiscale</label>
											<input ng-model="vm.record.codiceFiscale" class="form-control">
									</div>
									<div class="col-xs-12">
										<h4 class="title text-primary">Dati di Nascita</h4>
									</div>
									<div class="form-group col-md-4">
											<label>Data</label>
											<div class="input-group">
												<input type="date" class="form-control" datepicker-popup ng-model="vm.record.nascDataStr" is-open="vm.opened['nascita']" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="vm.open('nascita',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>										
									</div>
									<div class="form-group col-md-8">
											<label>Luogo</label>
											<input ng-model="vm.record.nascLuogo" class="form-control">
									</div>
									<!--
									<div class="clearfix">
										<div class="form-group col-sm-6">
												<label>Data iscrizione</label>
												<div class="input-group">
													<input type="date" class="form-control" datepicker-popup ng-model="vm.record.albo.iscrizione.dataStr" is-open="vm.opened['data']" close-text="Close" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="vm.open('data',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
										</div>
										<div class="form-group col-sm-6">
												<label>Data prima iscrizione</label>
												<div class="input-group">
													<input type="date" class="form-control" datepicker-popup ng-model="vm.record.albo.iscrizione.primaDataStr" is-open="vm.opened['primaData']" close-text="Close" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="vm.open('primaData',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
												<p class="help-block">Inserire data di prima iscrizione all'Albo degli Ingegneri anche di altra Provincia per calcolo degli anni di iscrizione.</p>
										</div>
									</div>
									-->
									<div class="col-xs-12">
										<h4 class="title text-primary">Recapiti</h4>
									</div>
									<div class="form-group col-md-6">
											<label>Cellulare</label>
											<input ng-model="vm.record.cellulare" class="form-control">
									</div>								
									<div class="form-group col-md-6">
											<label>Mail</label>
											<input ng-model="vm.record.mail" class="form-control" type="mail">
									</div>								
									<div class="form-group col-md-6">
											<label>PEC <span class="btn btn-default btn-sm" ng-click="vm.setPecDomain()">@ordineingegnerisiracusa.it</span></label>
											<input ng-model="vm.record.pec" class="form-control" type="mail">
									</div>								
									<hr class="clearfix divider" />
									<div class="form-group col-lg-12">
											<label>Note</label>
											<textarea ng-model="vm.record.note" class="form-control" rows="3"></textarea>
									</div>
									
									<div class="form-group col-xs-12">
										<button ng-click="vm.save()" type="submit" class="btn btn-default">Salva</button>
									</div>
								</form>

							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-building-o"></i> Residenza / Ufficio
								</tab-heading>
								<form role="form" class="col-xs-12">
									<div class="col-xs-12">
										<h4 class="title text-primary">Residenza</h4>
									</div>									
									<div class="form-group col-md-12">
											<label>Indirizzo</label>
											<input ng-model="vm.record.resIndirizzo" class="form-control">
									</div>
									<div class="form-group col-md-9">
											<label>Comune</label>
											<input ng-model="vm.record.resComune" class="form-control">							
									</div>
									<div class="form-group col-md-3">
											<label>Cap</label>
											<input ng-model="vm.record.resCap" class="form-control">
									</div>
									<div class="form-group col-md-6">
											<label>Telefono</label>
											<input ng-model="vm.record.resTelefono" class="form-control">
									</div>
									<div class="form-group col-md-6">
											<label>Fax</label>
											<input ng-model="vm.record.resFax" class="form-control">
									</div>
									<div class="col-xs-12">
										<h4 class="title text-primary">Ufficio</h4>
									</div>									
									<div class="form-group col-md-12">
											<label>Indirizzo</label>
											<input ng-model="vm.record.uffIndirizzo" class="form-control">
									</div>
									<div class="form-group col-md-9">
											<label>Comune</label>
											<input ng-model="vm.record.uffComune" class="form-control">							
									</div>
									<div class="form-group col-md-3">
											<label>Cap</label>
											<input ng-model="vm.record.uffCap" class="form-control">
									</div>
									<div class="form-group col-md-6">
											<label>Telefono 1</label>
											<input ng-model="vm.record.uffTelefono1" class="form-control">
									</div>
									<div class="form-group col-md-6">
											<label>Telefono 2</label>
											<input ng-model="vm.record.uffTelefono2" class="form-control">
									</div>
									<div class="form-group col-md-6">
											<label>Fax</label>
											<input ng-model="vm.record.uffFax" class="form-control">
									</div>
									<div class="form-group col-md-12">
										<button ng-click="vm.sediUpdate()" type="submit" class="btn btn-default">Salva</button>
									</div>
									
								</form>								
								
							</tab>
							<tab>
								<tab-heading>
									<i class="fa fa-graduation-cap"></i> Lauree <span class="badge" ng-if="vm.record.lauree.length>0">{{ vm.record.lauree.length }}</span>
								</tab-heading>
								<div class="col-xs-12">
									<h4 class="title text-primary">Elenco Titoli di Studio - Laurea </h4>
								</div>
								<div class="col-xs-12">
									<div class="panel panel-default" >
										<form class="panel-body">
											<div class="form-group col-md-6">
												<label>Codice (classe di laurea)</label>
												<select ng-change="vm.selectLaurea()" ng-model="vm.newLaurea.classe" ng-options="event.codice as event.titolo for event in vm.lauree | orderBy: 'nome' " class="form-control">
													<option value="">-- seleziona --</option>
												</select>
											</div>											
											<div class="form-group col-lg-6">
													<label>Titolo</label>
													<input ng-model="vm.newLaurea.descrizione" class="form-control">
											</div>
											<div class="form-group col-lg-6">
													<label>Luogo</label>
													<input ng-model="vm.newLaurea.luogo" class="form-control">
											</div>
											<div class="form-group col-lg-6">
													<label>Anno</label>
													<input type="number" ng-model="vm.newLaurea.anno" class="form-control">
											</div>

											<div class="form-group col-md-12">
												<button ng-click="vm.laureaAdd(vm.newLaurea)" type="submit" class="btn btn-success">Aggiungi</button>
											</div>
										</form>
									</div>
								</div>
										<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>Laurea</th>
																	<th>Anno</th>
																	<th>Luogo</th>
																	<th>Azioni</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="laurea in vm.record.lauree | orderBy: 'Anno'">
																<td>{{ laurea.classe }} - {{ laurea.descrizione }} </td>
																<td>{{ laurea.anno }}</td>
																<td>{{ laurea.luogo }}</td>
																<td>
																	<button ng-click="vm.laureaDelete(laurea)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> 
																</td>
															</tr>
													</tbody>
											</table>

										</div>
											<!-- /.table-responsive -->
							</tab>	
							<tab>
								<tab-heading>
									<i class="fa fa-certificate"></i> Abilitazioni <span class="badge" ng-if="vm.record.abilitazioni.length>0">{{ vm.record.abilitazioni.length }}</span>
								</tab-heading>
								<div class="col-xs-12">
									<h4 class="title text-primary">Elenco Abilitazioni </h4>
								</div>
								<div class="col-xs-12">
									<div class="panel panel-default" >
										<form class="panel-body">
											<div class="form-group col-md-6">
												<label>tipo</label>
												<select ng-model="vm.newAbilitazione.tipo" ng-options="abilitazione.nome as abilitazione.nome for abilitazione in vm.abilitazioni | orderBy: 'nome' " class="form-control">
													<option value="">-- seleziona --</option>
												</select>
											</div>											
											<div class="form-group col-lg-6">
													<label>Luogo</label>
													<input ng-model="vm.newAbilitazione.luogo" class="form-control">
											</div>
											<div class="form-group col-lg-6">
													<label>Anno</label>
													<input type="number" ng-model="vm.newAbilitazione.anno" class="form-control">
											</div>

											<div class="form-group col-md-12">
												<button ng-click="vm.abilitazioneAdd(vm.newAbilitazione)" type="submit" class="btn btn-success">Aggiungi</button>
											</div>
										</form>
									</div>
								</div>
										<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>Tipo</th>
																	<th>Anno</th>
																	<th>Luogo</th>
																	<th>Azioni</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="abil in vm.record.abilitazioni | orderBy: 'Anno'">
																<td>{{ abil.tipo }}</td>
																<td>{{ abil.anno }}</td>
																<td>{{ abil.luogo }}</td>
																<td>
																	<button ng-click="vm.abilitazioneDelete(abil)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> 
																</td>
															</tr>
													</tbody>
											</table>

										</div>
											<!-- /.table-responsive -->
							</tab>
<tab>
								<tab-heading>
									<i class="fa fa-calendar"></i> Iscrizioni <span class="badge" ng-if="vm.record.iscrizioni.length>0">{{ vm.record.iscrizioni.length }}</span>
								</tab-heading>
								<div class="col-xs-12">
									<h4 class="title text-primary">Storico iscrizioni Albo Ordine Ingegneri </h4>
								</div>
								<div class="col-xs-12">
									<div class="panel panel-default" >
										<form class="panel-body">
											<div class="form-group col-md-6">
												<label>data</label>
												<div class="input-group">
													<input type="date" class="form-control" datepicker-popup ng-model="vm.newIscrizione.data" is-open="vm.opened['newEvent']" close-text="Close" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="vm.open('newEvent',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>											
											</div>	
											<div class="form-group col-md-12">
												<label>Provincia</label>
												<input type="text" ng-model="vm.newIscrizione.provincia" class="form-control" placeholder="Siracusa"></input>
											</div>
											<div class="form-group col-md-12">
												<button ng-click="vm.iscrizioneAdd(vm.newIscrizione)" type="submit" class="btn btn-success">Aggiungi</button>
											</div>
										</form>
									</div>
								</div>
										<div class="table-responsive col-xs-12">
											<table class="table table-bordered table-hover table-striped">
													<thead>
															<tr>
																	<th>Data</th>
																	<th>Provincia</th>
																	<th>Azioni</th>
															</tr>
													</thead>
													<tbody>
															<tr ng-repeat="iscriz in vm.record.iscrizioni | orderBy: 'Data'">
																<td>{{ iscriz.data | date: 'dd-MM-yyyy' }}</td>
																<td>{{ iscriz.provincia }}</td>
																<td>
																	<button ng-click="vm.iscrizioneDelete(iscriz)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> 
																</td>
															</tr>
													</tbody>
											</table>

										</div>
											<!-- /.table-responsive -->
							</tab>							
						</tabset>

				</div>
				<!-- /.row -->
		</div>
		<!-- /.panel-body -->
</div>